html {
	position: relative;
}
body {
	margin-bottom: 120px;	
}



.jumbotron img {
	width: 120px;
	border: 5px solid #666;
	border-radius: 100px;

}
hr {
	width: 250px;
	color: #666;
	border: 2px solid #666;
}

section {
	min-height: 800px;
	padding-top: 30px;
}

.portfolio {
	background-color: #eee;
	padding-bottom: 10px;
}

.contact {
	min-height: 1000px;
	margin-top: 20px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #333;
	padding-top: 10px;

}
footer p {
	color: #aaa;
	font-size: 5mm;
}
.bio li {
	font-size: 15px;
}


/* style utama */

body {
	font: 16px/36px 'Nue','Arial Narrow','Arial','sans-serif;';
}

/* overlay */
.overlay {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0,0) ;
	z-index: 99999;
	transition: 1s;
	text-align: center;
	padding: 100px 0px;

}

.overlay:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0,.7) ;
}

.overlay img {
	max-height: 100%;
	box-shadow: 2px 2px 7px rgba(0, 0, 0,.5);
}

.overlay:target img {
	animation: zoom 1s;
}

.overlay .close {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	border: 1px solid color;
	line-height: 14px;
	padding: 5px;
	opacity: 0;

}
.overlay:target .close {
	animation: slideDown .5s .5s forwards;
}
.overlay:target .next, 
.overlay:target .prev {
	animation: aja .5s .5s forwards;
}





/* animation */

@keyframes aja {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

@keyframes zoom {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100%{ transform :scale(1);
		opacity: 1;
}
}	

@keyframes slideDown {
	0% {
		opacity: 0;
		margin-top: -20px;
	}

 	100% {
		opacity: 1;
		margin-top: 0; 		
 	}
 } 

.prev,.next {
	color: skyblue;
	text-shadow: 2px 2px 2px black;
	text-decoration: none;
	font-size: 30px;
}